<%= error_messages_for 'expense' %>

<div class="box tabular">

  <p class="object-select"><%= f.select :status_id, collection_expense_statuses, :label => l(:field_expense_status), :required => true %></p>
  <p class="object-select">
    <%= label_tag :expense_contact_id,  l(:field_invoice_contact)%>
    <%= select_contact_tag('expense[contact_id]', @expense.contact, :is_select => Contact.visible.by_project(ContactsSetting.cross_project_contacts? ? nil : @project).count < 50, :include_blank => true, :is_company => RedmineInvoices.settings[:invoices_select_companies], :add_contact => true, :display_field => @expense.contact.blank?) %>
  </p>
  <p><%= f.select :project_id, project_tree_options_for_select(Expense.allowed_target_projects, :selected => @project), {:required => true} %></p>
  <p>
    <%= f.text_field :price, :label => l(:field_expense_price), :size => 10 %>
    <%= select_tag "expense[currency]", options_for_select(collection_for_currencies_select(ContactsSetting.default_currency, ContactsSetting.major_currencies), @expense.currency), :include_blank => true  %>
  </p>
  <p><%= f.text_field :expense_date, :size => 12, :required => true %><%= calendar_for('expense_expense_date') %> </p>
  <p class="object-select"><%= f.select :assigned_to_id, (@project.assignable_users.collect {|m| [m.name, m.id]}), :include_blank => true, :label => l(:field_assigned_to) %></p>
  <p><%= f.check_box :is_billable, :label => l(:label_invoice_is_billable) %></p>

  <% custom_field_values = @expense.custom_field_values %>
  <div class="splitcontent">
    <div class="splitcontentleft">
    <% i = 0 %>
    <% split_on = (custom_field_values.size / 2.0).ceil - 1 %>
    <% custom_field_values.each do |value| %>
      <p><%= custom_field_tag_with_label :expense, value, :required => value.custom_field.is_required? %></p>
    <% if i == split_on -%>
    </div><div class="splitcontentright">
    <% end -%>
    <% i += 1 -%>
    <% end -%>
    </div>
  </div>

  <p><%= f.text_field :description, :size => "100%" %></p>
</div>
<%= wikitoolbar_for 'invoice_description' %>
<fieldset><legend><%= l(:label_attachment_plural) %></legend>
<% if @expense.attachments.any? -%>
  <%= link_to_attachments @expense, :thumbnails => true %>
<% end %>

<p><%= render :partial => 'attachments/form', :locals => {:container => @expense} %></p>
</fieldset>
<br>




