<div class="container" role="main">
  <div class="contextual">
    <%= link_to "Add QC Log", "#{Redmine::Configuration['prototype_domain_path']}/qc_logs/new?project_id=#{@project_id}", class: "icon icon-add" %>
  </div>
  <h1>QC Logs  &nbsp; </h1>
  <div class="table-responsive">
    <table class="table list table-striped table-middle-align">
      <thead>
        <tr>
          <th>Date</th>
          <th>Applicator</th>
          <th>Created By</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @qc_logs.each do |log| %>
          <tr>
            <td>
              <%= log["date"].strftime('%m/%d/%Y') rescue nil %>
            </td>
            <td>
              <%= log["approved_applicator"] %>
            </td>
            <td>
              <%= User.find(log["user_id"]).name %>
            </td>
            <td>
              <%= log["status"] %>
            </td>
            <td>
              <%= link_to 'Edit Log', "#{Redmine::Configuration['prototype_domain_path']}/qc_log/#{log.id}/edit", target: "_blank", class: "btn btn-primary" %>
            </td>
            <td>
              <%= link_to 'View PDF', "#{Redmine::Configuration['prototype_domain_path']}/qc_log/#{log.id}/log_pdf.pdf", target: "_blank", class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
